---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Blog from "@/components/Blog.astro"

import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"

import Experience from "@/components/Experience.astro"
import SectionContainer from "@/components/SectionContainer.astro"

import Projects from "@/components/Projects.astro"

import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
---

<Layout
   title="Porfolio de Alex | Desarrollador y Programador Web"
	 description="Contrata a Alex para que pueda comer"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    
    <div class="space-y-24" >
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>

	<SectionContainer id="blog">
		<TitleSection>
		  <ProfileCheck class="size-8" />
		  Blog
		</TitleSection>
		<Blog />
	  </SectionContainer>
  </div>
  </main>
</Layout>

<script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script> 

    <dotlottie-player src="https://lottie.host/5d87c1db-256b-4f0c-803d-a854ab49b7fa/S2OAFD3m5V.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>

---
<!-- 
<Layout
	 title="Portfolio de Alex | Desarrollador y Programador Web"
	 description="Contrata a Alex para que pueda comer"
	 > -->

			<!-- <img 
				class="rounded-full size-12 mb-4" 
				src="https://media.licdn.com/dms/image/D4D03AQHH45fimBPlUw/profile-displayphoto-shrink_200_200/0/1708795078992?e=2147483647&v=beta&t=e_eoEsVvAhPAQNPQ8FEU6Kk2C-as5aSJS1q5cvV-GFo" 
				alt="alex-photo"
			/>



			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hola, soy Yonatan <a 
				href="https://pe.linkedin.com/in/ordo%C3%B1ez-diego" 
				rel="noopener" 
				target="_blank"
				class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a> 
				
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]"><span class="text-yellow-500/90 opacity-80"> Lorem ipsum, </span>dolor sit amet consectetur <span class="text-red-500/90"> adipisicing elit</span>. 
				Rem nam soluta non <span class="text-blue-500/90">perferendis blanditiis</span> quae at, voluptatum officiis totam beatae, quas ex animi. 
				Doloribus natus <span class="text-green-500/90">repudiandae quas sapiente</span> <span class="opacity-50"> quibusdam sequi.</span></h2>

			<nav class="flex gap-x-2 mt-8">

				<SocialPill>
					<LinkedInIcon class="size-4 lg:size-6" />LinkedIn 
				</SocialPill>

				<SocialPill>
					<GitHubIcon class="size-4 lg:size-6" />GitHub
				</SocialPill>

				<SocialPill>
					<GDGIcon class="size-4 lg:size-6" />GDG
				</SocialPill>

				<SocialPill>
					<YoutubeIcon class="size-4 lg:size-6" />Youtube
				</SocialPill>

			</nav> -->
						
				
	