---
const personalImageAlt = "Alex OD"
import Badge from "../components/Badge.astro"
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import MailIcon from "../components/icons/GDG.astro"
import SocialPill from "../components/SocialPill.astro"
import GitHub from "./icons/GitHub.astro"
import Youtube from "./icons/Youtube.astro"
---



<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-500 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
 


  <a class="flex gap-4 mb-10"
  href="https://www.linkedin.com/in/ordo%C3%B1ez-diego/"
  target="_blank"
  rel="noopener"
  class="flex items-center gap-4 mb-4 transition-transform duration-300 ease-in-out transform md:justify-center md:hover:scale-105"  ></a> 
  <Badge>Enviame un mensaje</Badge>
  </a>

    
  <h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white" style="margin-top: 20px;">
    Hola, soy Alex
  </h1>

  <p  style="margin-top: 20px;"> Me apasiona el mundo del desarrollo y estoy en constante crecimiento. Me encuentro inmerso en un emocionante viaje de aprendizaje, donde <strong>cada día descubro nuevas formas de aplicar mis conocimientos y expandir mis habilidades.</strong>. </p>

  </div>

  <img width="200" height="200" src="/yo.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-0 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50% ; border-radius: 100%; position: relative; top: 40px">

</article>

  <nav class="flex flex-wrap gap-4 mt-0">
    

    <SocialPill href="https://www.linkedin.com/in/ordo%C3%B1ez-diego/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>

    <SocialPill href="https://github.com/Alexod24">
      <GitHub class="size-4"/>
      GitHub
    </SocialPill>

    <SocialPill href="https://gdg.community.dev/u/mzvfya/#/about">
      <MailIcon class="size-4" />
      GDG
    </SocialPill>

    <SocialPill href="https://www.youtube.com/@Alex.od2408">
      <Youtube class="size-4" />
      Youtube
    </SocialPill>
  </nav>
</div>

